<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="me.mirosh.spiritualread.activities.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_hello"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="me.mirosh.spiritualread.activities.ViewRequests"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.Request_Book"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Dashboards.Guest"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.PdfDetailActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.PdfEditActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.PdfListActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.PdfAddActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.CategoryAdd"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Dashboards.UserExplore"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Dashboards.Admin"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Auth.loginOnboard"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.Onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="me.mirosh.spiritualread.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>